// Colors
$white: #ffffff;
$black: #000000;
$bright-blue: #448AFF;
$dark-blue: #0D47A1;
$foggy-blue: #90CAF9;
$red: #d32f2f;
$gold: #F9A825;

// Mixins
@mixin width-range ($min-width: 50%, $max-width: 100%) {
    min-width: $min-width;
    max-width: $max-width;
}
  
@mixin height-range ($min-height: 50%, $max-height: 100%) {
    min-height: $min-height;
    max-height: $max-height;
}
  
@mixin flex-container($flex-wrap: nowrap, $flex-direction: row, $justify-items: flex-start, $align-items: center) {
    display: flex;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
    justify-items: $justify-items;
    align-items: $align-items;
}
  
@mixin font-properties($font-weight, $color: $grey-blue, $font-size: 16, $line-height: normal) {
    font-size: $font-size + px;
    font-weight: $font-weight;
    color: $color;
    line-height: $line-height
}

%normal-text {
    font-family: 'Roboto', sans-serif;    
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
    text-align: left;
}
  