@import scala.collection.mutable
@(registrationForm: Form[models.RegistrationFormData], errors: mutable.HashMap[String, String])(implicit request: RequestHeader, messages: Messages)
@main(Messages("app.name")) {
    @request.flash.get(messages("flash.success")).map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@msg</strong>
        </div>
    }
    @request.flash.get(messages("flash.error")).map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@msg</strong>
        </div>
    }
    <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="login-container">
                        <h1 class="login-form-header">
                            <p>@messages("register-form-header")</p>
                            <p>@messages("register-form-subheader")</p>
                        </h1>
                        <form id="registration-data-form" role="form" action='@routes.UserController.addUser()' method="post" class="login-form">
                            <div class="form-group">
                                <label for="firstName" class="login-form-label">@messages("firstname")</label>
                                <input type="text" id="firstName" name="firstName" value="@registrationForm("firstName").value" placeholder="First Name" class="form-control login-form-input">
                                @if(registrationForm != null) {
                                    @for(error <- registrationForm("firstName").errors) {
                                        <span class="login-form-error">@error.messages</span>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="login-form-label">@messages("lastname")</label>
                                <input type="text" id="lastName" name="lastName" value="@registrationForm("lastName").value" placeholder="Last Name" class="form-control login-form-input">
                                @if(registrationForm != null) {
                                    @for(error <- registrationForm("lastName").errors) {
                                        <span class="login-form-error">@error.messages</span>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <label for="email" class="login-form-label">@messages("email")</label>
                                <input type="email" id="email" name="email" value="@registrationForm("email").value" placeholder="Email" class="form-control login-form-input">
                                @if(errors.size != 0) {
                                    @if(errors.get("emailError") != null) {
                                        <span class="login-form-error">@errors.get("emailError")</span>
                                    }
                                }
                                @if(registrationForm != null) {
                                    @for(error <- registrationForm("email").errors) {
                                        <span class="login-form-error">@error.messages</span>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <label for="password" class="login-form-label">@messages("password")</label>
                                <input type="password" id="mobile" name="password" class="form-control login-form-input">
                                @if(errors.size != 0) {
                                    @if(errors.get("passwordError") != null) {
                                        <span class="login-form-error">@errors.get("passwordError")</span>
                                    }
                                }
                                @if(registrationForm != null) {
                                    @for(error <- registrationForm("password").errors) {
                                        <span class="login-form-error">@error.messages</span>
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <button type="submit" class="login-submit">Registration</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
}